@charset "UTF-8";
:root {
  --yellow-background: #ffdc36;
}

* {
  margin: 0 0;
  padding: 0;
}

body {
  top: 0px;
  position: absolute;
  margin: 0px;
  padding: 0%;
  width: 100%;
  overflow-x: hidden;
}

#header {
  width: 100%;
  height: 50px;
  background-color: var(--yellow-background);
  box-shadow: 0rem 0rem 1rem rgba(101, 93, 56, 0.78);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

#section-inicio {
  margin: 0px;
  margin-top: 50px;
  width: 100%;
  height: 90vh;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #fde884;
  box-shadow: 0.01rem 0.5rem 1rem #fe6161;
  background-image: url(images/naranjas.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#section-inicio #logo {
  display: flex;
  align-self: end;
  height: 100%;
}
#section-inicio #logo p {
  font-size: 15vmin;
  color: #97b948;
  margin: auto auto 0 auto;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  text-shadow: 0.1rem 0.2rem 0.1rem #0b3d09;
  animation: flicker 1s normal 0ms linear;
}
@keyframes flicker {
  0% {
    text-shadow: 0.1rem 0.22rem 1rem #176115;
  }
  100% {
    text-shadow: 0.1rem 0.2rem 0.1rem #0b3d09;
  }
}
#section-inicio #slogan {
  display: flex;
  align-self: start;
  justify-content: center;
}
#section-inicio #slogan p {
  margin: 0 10px 0 10px;
  font-size: 8vmin;
  color: #6a774d;
  text-align: center;
  font-family: "Satisfy", cursive;
  animation: appear 2s forwards 0s ease-in;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

#separador {
  width: 100%;
  height: 50px;
  background-color: var(--yellow-background);
  box-shadow: 0rem 0rem 1rem rgba(101, 93, 56, 0.78);
  position: relative;
}

#section-descripcion {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: rgba(7, 83, 59, 0.75);
  font-family: "Raleway", sans-serif;
}
#section-descripcion #div-nosotros {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 100%);
}
#section-descripcion #div-nosotros div {
  height: fit-content;
  height: 50vh;
  position: relative;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center;
  margin: 0% 2%;
  animation: looping 30s infinite 1s linear;
}
#section-descripcion #div-nosotros div .td-img {
  height: 90%;
  border-radius: 1.5rem;
  overflow: hidden;
  opacity: 0.8;
  border: solid 2px #364537;
}
#section-descripcion #div-nosotros div p {
  width: 40%;
  font-size: 3vh;
  color: #cacb81;
  text-shadow: 0rem 0rem 0.3rem rgba(217, 209, 209, 0.3490196078);
  text-align: center;
  text-wrap: pretty;
  word-break: break-word;
}
@keyframes looping {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(-200vw);
  }
}

#section-productos {
  width: 100%;
  height: auto;
  background-color: #f08338;
  padding: 2rem 0rem;
  box-shadow: 0.01rem 0.5rem 0.5rem rgba(237, 171, 75, 0.7803921569);
}
#section-productos p {
  font-size: 5vmin;
  color: var(--yellow-background);
  margin: 0 auto auto auto;
  text-align: left;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0rem 2rem;
}
#section-productos div {
  margin: 3vmin auto;
  width: 90%;
  text-align: center;
}
#section-productos div img {
  margin: 0.5rem;
  width: 30%;
  border-radius: 10%;
}

footer {
  width: 100%;
  height: auto;
  background-image: url(images/piñas_amarillo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
footer #footer-information {
  width: 100%;
  height: 20rem;
  background-color: rgba(247, 209, 80, 0);
  padding: 1rem 0rem 2rem 0;
}
footer #footer-information #wrap-contacto {
  width: 100%;
  height: 90%;
  margin: 3vmin auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(85, 135, 134, 0.8509803922);
}
footer #footer-information #wrap-contacto #formulario {
  width: 30%;
  height: 60%;
  padding: 2%;
}
footer #footer-information #wrap-contacto #mapa {
  width: 40%;
  height: 80%;
  padding: 2%;
}
footer #footer-information #wrap-contacto #redes {
  width: 30%;
  height: 80%;
  padding: 2%;
}

#formulario h1, #formulario h2 {
  font-size: 1.5rem;
  color: var(--yellow-background);
  margin: 0 auto auto auto;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0rem 2rem;
}

#mapa iframe {
  border: 0;
}

/*# sourceMappingURL=styles.css.map */
